<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Something went wrong!</h1>
    <p>we are working on it, sorry for the incconvenience!</p>

<%- include('includes/end.ejs') %>